<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SteamPack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,142},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{50,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>SteamPack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>SteamPack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,164},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>SteamPack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,154},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>SteamPack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,152},{78,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>VendingMachine01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{74,138}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{74,138}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>VendingMachine02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{68,148}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{68,148}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>VendingMachine03.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{70,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>VendingMachine04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>VendingMachine05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{78,150}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,150}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Item.png</string>
            <key>size</key>
            <string>{382,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad6bc2816420a2d4ee1ba8f317d2ad0:e250f43f1e069f4d5ea757740cdbb8b7:eb41154dee1bc01d711a38924ec169e0$</string>
            <key>textureFileName</key>
            <string>Item.png</string>
        </dict>
    </dict>
</plist>
