<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MissileAiming1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,43},{16,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>MissileAiming2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,43},{18,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>MissileAiming3.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,47},{16,12}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{16,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>MissileAiming4.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,43},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>MissileAiming5.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,43},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>MissileAiming6.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,43},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>MissileAiming7.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,43},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>MissileAiming8.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,43},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>MissilePlayerLinear01.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,31},{28,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{28,30}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>MissilePlayerLinear02.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{43,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{43,44}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>MissilePlayerLinear03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,66}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>MissilePlayerLinear04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{57,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{57,61}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>MissilePlayerLinear05.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{59,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{59,63}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>MissilePlayerLinear06.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{59,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,61}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>Missile_Player_Melee01.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,37},{41,23}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{41,23}}</string>
                <key>sourceSize</key>
                <string>{43,27}</string>
            </dict>
            <key>Missile_Player_Melee02.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,32},{47,28}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>Missile_Player_Melee03.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{37,27}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{41,27}</string>
            </dict>
            <key>Missile_Player_Melee04.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{41,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{41,35}}</string>
                <key>sourceSize</key>
                <string>{49,35}</string>
            </dict>
            <key>Missile_Player_Melee05.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,39},{41,22}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{41,22}}</string>
                <key>sourceSize</key>
                <string>{45,28}</string>
            </dict>
            <key>Missile_Player_Melee06.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>Missile_Player_Melee07.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>Missile_Player_Melee08.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{59,39}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{59,39}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>Missile_Player_Melee09.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{63,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>Missile_Player_Melee10.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{59,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{59,39}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>Missile_Player_Melee11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{63,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>Missile_Player_Melee12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{63,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile.png</string>
            <key>size</key>
            <string>{734,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:519c08bf7a12c91d8f9fbdeb59afed7a:1c95c7962066bf1d9cd12270d2dd83e6:af37c4845d2c513b46d67342119e9e19$</string>
            <key>textureFileName</key>
            <string>missile.png</string>
        </dict>
    </dict>
</plist>
