<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MonsterRush.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,68},{67,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>MonsterRush_IDLE_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,68},{67,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>MonsterRush_IDLE_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,68},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,50}}</string>
                <key>sourceSize</key>
                <string>{70,52}</string>
            </dict>
            <key>MonsterRush_IDLE_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,71},{64,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{64,49}}</string>
                <key>sourceSize</key>
                <string>{70,51}</string>
            </dict>
            <key>MonsterRush_IDLE_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,68},{67,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{69,50}</string>
            </dict>
            <key>MonsterRush_MOVE_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,64},{68,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,49}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>MonsterRush_MOVE_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{67,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{71,51}</string>
            </dict>
            <key>MonsterRush_MOVE_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{67,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,49}}</string>
                <key>sourceSize</key>
                <string>{67,51}</string>
            </dict>
            <key>MonsterStandShoot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,81}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,81}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>MonsterStandShoot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{64,77}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>MonsterStandShoot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{60,81}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,81}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>MonsterStandShoot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{64,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,72}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>MonsterStandShoot05.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{64,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{64,63}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster.png</string>
            <key>size</key>
            <string>{437,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed795cd0fa2c123dd5b83e62c634d233:c6f3f5459fb7a8aee43c7c8c9db94367:98f2afd2d677f0efd46026afa9a716bc$</string>
            <key>textureFileName</key>
            <string>Monster.png</string>
        </dict>
    </dict>
</plist>
