<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MonsterRush.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{67,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>MonsterRush_IDLE_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{67,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>MonsterRush_IDLE_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,71},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{66,50}}</string>
                <key>sourceSize</key>
                <string>{70,52}</string>
            </dict>
            <key>MonsterRush_IDLE_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{64,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{64,49}}</string>
                <key>sourceSize</key>
                <string>{70,51}</string>
            </dict>
            <key>MonsterRush_IDLE_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,71},{67,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{69,50}</string>
            </dict>
            <key>MonsterRush_MOVE_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{68,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,49}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>MonsterRush_MOVE_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,72},{67,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{71,51}</string>
            </dict>
            <key>MonsterRush_MOVE_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{67,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,49}}</string>
                <key>sourceSize</key>
                <string>{67,51}</string>
            </dict>
            <key>MonsterStandShoot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,81}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,81}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>MonsterStandShoot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{64,77}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>MonsterStandShoot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{60,81}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,81}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>MonsterStandShoot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{64,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,72}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>MonsterStandShoot05.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{64,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{64,63}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>Monster_Demon_Attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,72}</string>
            </dict>
            <key>Monster_Demon_Attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{38,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{38,62}}</string>
                <key>sourceSize</key>
                <string>{40,72}</string>
            </dict>
            <key>Monster_Demon_Attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,81},{43,59}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{43,59}}</string>
                <key>sourceSize</key>
                <string>{53,65}</string>
            </dict>
            <key>Monster_Demon_Attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{66,60}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,60}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>Monster_Demon_Attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,81},{68,42}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{68,42}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>Monster_Demon_Attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,68},{58,50}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{58,50}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>Monster_Demon_Idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,64},{40,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,60}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>Monster_Demon_Idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{41,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Monster_Demon_Idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,65},{41,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{41,60}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Monster_Demon_Idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{41,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Monster_Demon_Idle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{41,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{41,60}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>Monster_Demon_Idle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{40,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{40,64}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>Monster_Demon_Idle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,85},{40,62}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{40,62}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>Monster_Demon_Move01.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,70},{55,57}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{55,57}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>Monster_Demon_Move02.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,66},{59,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>Monster_Demon_Move03.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,68},{57,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{57,57}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>Monster_Demon_Move04.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{66,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{66,47}}</string>
                <key>sourceSize</key>
                <string>{72,51}</string>
            </dict>
            <key>Monster_Demon_Move05.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{61,45}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>Monster_Demon_Move06.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{65,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,47}}</string>
                <key>sourceSize</key>
                <string>{69,51}</string>
            </dict>
            <key>Monster_Rabbit_Move01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,69},{47,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{47,55}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>Monster_Rabbit_Move02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,68},{45,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{45,57}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>Monster_Rabbit_Move03.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,66},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster.png</string>
            <key>size</key>
            <string>{954,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ce7cd706806e42c822cba61564553d4:5bd9ae0a639bab06b627156a369beea7:98f2afd2d677f0efd46026afa9a716bc$</string>
            <key>textureFileName</key>
            <string>Monster.png</string>
        </dict>
    </dict>
</plist>
