<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>player_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,80},{50,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{50,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{46,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,41},{46,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,41},{46,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,41},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{52,37}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,80},{52,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{52,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,80},{50,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,41},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{246,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbd70b5c2dd2504f63abb9706ef87a99:ca553bb311c653f988a98e01c81eb67e:96fb3d46aab20ec9eb9704de1ab972b6$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
