<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tile_Trap01.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,45},{69,17}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{69,17}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>Tile_Trap02.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{65,41}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{65,41}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>Tile_Trap03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{69,51}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{69,51}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>Tile_Trap04.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{65,61}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>Tile_Trap05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>Tile_Trap06.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{67,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>Tile_Trap07.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{67,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>Tile_Trap08.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{69,37}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>Tile_Trap09.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,41},{69,25}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{69,25}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trap.png</string>
            <key>size</key>
            <string>{491,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc760eacabe11455ef51d95accb0da51:ddc295ae84a42d5645417f85cd532683:4899c1ed7bac21d37146a0f77e944551$</string>
            <key>textureFileName</key>
            <string>trap.png</string>
        </dict>
    </dict>
</plist>
