<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AimingMissile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,453},{16,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>AimingMissile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,214},{18,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>AimingMissile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,312},{16,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>AimingMissile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,234},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>AimingMissile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,382},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>AimingMissile6.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,254},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>AimingMissile7.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,274},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>AimingMissile8.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,293},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>Gateway0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,95},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Gateway1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,404},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Gateway10.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,404},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Gateway2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,145},{48,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Gateway3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Gateway4.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,404},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Gateway5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,404},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Gateway6.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,404},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Gateway7.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,404},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Gateway8.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,404},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Gateway9.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{50,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>LinearMissile0.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,307},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,341},{23,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>LinearMissile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,437},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,453},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,434},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,469},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile6.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,469},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile7.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,469},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,332},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile9.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,357},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>Villager.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{45,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,62}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>block.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,307},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blockPiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,54},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,97},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>floorPiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,292},{46,13}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,13}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>player_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,456},{50,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,54},{58,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,195},{56,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,456},{56,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,456},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,253},{50,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{50,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,456},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,305},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,403},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,97},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,355},{46,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,214},{46,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,253},{46,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,136},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,456},{52,37}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,456},{52,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{52,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,456},{50,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,175},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>rushMonster_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,341},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,366},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,468},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,389},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,341},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_rush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,390},{22,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_rush2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,434},{16,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_rush3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{24,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_rush4.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,477},{24,16}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,365},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,453},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,413},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,410},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Robotopia.png</string>
            <key>size</key>
            <string>{507,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7acca054ae87d14bc98e1690ba4a0934:0493b4ea79864cd2c80e4817274168cc:40387c8163e24ac93b5bab61b171c8fd$</string>
            <key>textureFileName</key>
            <string>Robotopia.png</string>
        </dict>
    </dict>
</plist>
