<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MonsterStandShoot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,81}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,81}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>MonsterStandShoot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{64,77}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>MonsterStandShoot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{60,81}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,81}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>MonsterStandShoot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{64,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,72}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>MonsterStandShoot05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{64,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{64,63}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster.png</string>
            <key>size</key>
            <string>{68,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c518936dcce4946fd7a2e139bb263eaf:202ac2a6eab43ed0db015effdee9db7d:98f2afd2d677f0efd46026afa9a716bc$</string>
            <key>textureFileName</key>
            <string>Monster.png</string>
        </dict>
    </dict>
</plist>
